<header>
    <h1><a href="/">Buurtinitiatieven</a></h1>
    <!-- desktop menu -->
    <ul class="header">
        <li><a href="/vraag">Vraag</a></li>
        <li><a href="/aanbod">Aanbod</a></li>
        <li><a href="/aanmelden">Aanmelden</a></li>
        <li><a href="/">Contact</a></li>
        <li><a href="/">Over ons</a></li>
        <li><a href="/faq">FAQ</a></li>
    </ul>
    
    <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>
    
</header>

<main>
    <!-- mobile hamburger menu -->
    <ul class="hamburger-menu">
        <li><a href="/vraag">Vraag</a></li>
        <li><a href="/aanbod">Aanbod</a></li>
        <li><a href="/aanmelden">Aanmelden</a></li>
        <li><a href="/">Contact</a></li>
        <li><a href="/">Over ons</a></li>
        <li><a href="/faq">FAQ</a></li>
    </ul>