<%- include('./partials/head.ejs') -%>
<%- include('./partials/nav.ejs') -%>

<section class="explanation">
    <p>Op deze buurtwebsite kunnen bewoners van Amsterdam West informatie met elkaar delen.
         Hier vind je alle activiteiten die er in de buurt zijn, informatie over initiatieven, kan je een oproep plaatsen en jouw eigen dienstenaanbod bekend maken.</p>

</section>

<%- include('./partials/foot.ejs') -%>

